/* page style */

body {
    padding: 0 20px;
}

.nav {
    height: 32px;
    margin-top: 20px;
    border-bottom: 1px solid #dedede;
}
.nav li {
    float: left;
    list-style-type: none;
}
.nav li a {
    float: left;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #dedede;
    color: #999;
    text-decoration: none;
    margin-right: 4px;
    position: relative;
    top: 1px;
    font-size: 14px;
}
.nav li .current {
    border-bottom-color: #fff;
}

.hint {
    margin-top: 40px;
    color: #aaa;
    font-size: 12px;
}